<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.edu.mt/um/cs/rv/valour"
			class = "mt.edu.um.cs.rv.valour.ValourPackage"
			genModel = "model/generated/Valour.genmodel" />
	</extension>
</plugin>
